package ${package.ServiceImpl};

import com.example.commons.ResponseData;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    /**
     * 保存或更新$!{table.comment}
     *
     * @param ${table.entityPath} $!{table.comment}
     * @return
     */
    @Override
    public ResponseData saveOrUpdate${entity}(${entity} ${table.entityPath}) {
        this.saveOrUpdate(${table.entityPath});
        return new ResponseData("保存或更新成功");
    }

}
